<div class="container mt-4 titu">
    <div class="row">
        <div class="col">
            <h1>&nbsp;
                
                    <i class="fa-solid fa-user-plus"></i>&nbsp;
                    Add Contact page
            
            </h1>

            <p class="mt-3" style="text-align: justify;">
                This is dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero est magnam, accusantium velit aspernatur nisi! Aut blanditiis neque optio quisquam dolore totam similique sequi! Pariatur in totam praesentium amet iusto. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam quos assumenda tempora. Doloremque repellendus in facere sed, maiores, nihil voluptates consequuntur obcaecati ea beatae odio dicta quasi sapiente delectus maxime?
            </p>
        </div>
    </div>
 
<div class="container  mt-5">
    <div class="row">
        <div class="col-md-8 border p-3">

            <form action="">
                <div class="mb-3">
                    <input name="id" type="text" [(ngModel)]="contact.id" placeholder="Contact Id" class="form-control">
                </div>
                <div class="mb-3">
                    <input name="contactName" [(ngModel)]="contact.name" type="text" placeholder="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <input name="photo" type="text" [(ngModel)]="contact.photo" placeholder="Photourl" class="form-control">
                </div>
                <div class="mb-3">
                    <input name="email" type="text" [(ngModel)]="contact.email" placeholder="Email" class="form-control">
                </div>
                <div class="mb-3">
                    <input name="mobile" type="text" [(ngModel)]="contact.mobile" placeholder="Mobile Number" class="form-control">
                </div>
                <div class="mb-3">
                    <input name="company" type="text" [(ngModel)]="contact.company" placeholder="Company" class="form-control">
                </div>
                <div class="mb-3">
                    <input name="title" type="text" [(ngModel)]="contact.title" placeholder="Title" class="form-control">
                </div>
                <div class="mb-3">
                  <select name="groupId" [(ngModel)]="contact.group" id="" class="form-control">
                    <option value="" selected hidden disabled>Select A Group</option>
                    <option value="{{group.id}}" *ngFor="let group of allGroups">{{group.name}}</option>
                   
                  </select>
                </div>
                <div class="mb-3">
                    <input (click)="addContact()" type="button" value="Create" class="btn btn-success">
                    <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                </div>
            </form>
        </div>

        <div class="col-md-4">

             <img [src]="contact.photo" alt="no image" class="contactimage mt-3">

        </div>
    </div>
</div>

</div>
